# OpenFOAM mesh files
*.polyMesh
extendedFeatureEdgeMesh
polyMesh
triSurface

# status output
status.md

# Python package files
__pycache__
*.egg-info
build

# VS Code
*.code-workspace

# typical output folder names
myna_resources/
demo_build/
myna_output/
examples/Peregrine/registered
examples/Peregrine/simulation
examples/PeregrineHDF5/simulation
examples/PeregrineHDF5/registered
examples/Pelican/myna_scanpaths
examples/Pelican/registered_timeseries
*.parquet

# other typical case file names
*configured.yaml
log.*
*.log
logs/

# documentation
site/
docs/api-docs
