# OpenFOAM mesh files
*.polyMesh
extendedFeatureEdgeMesh
polyMesh
triSurface

# status output
status.md

# Python package files
__pycache__
*.egg-info

# VS Code
*.code-workspace

# typical output folder names
myna_resources/
demo_build/
myna_output/
resources/Peregrine/registered
resources/PeregrineHDF5/simulation
resources/PeregrineHDF5/registered

# other typical case file names
*configured.yaml
log.*
*.log
logs/

# expected modifications to the example Peregrine resource directory
*.parquet
resources/Myna
