# OpenFOAM mesh files
*.polyMesh
extendedFeatureEdgeMesh
polyMesh
triSurface

# status output
status.md

# Python package files
__pycache__
*.egg-info
build

# VS Code
*.code-workspace

# MacOS Finder metadata
.DS_Store

# `myna config` and `myna run` typical artifacts
myna_resources/
myna_output/
demo_build/

# database artifacts
examples/databases/Peregrine/registered
examples/databases/Peregrine/simulation
examples/databases/PeregrineHDF5/simulation
examples/databases/PeregrineHDF5/registered
examples/databases/Pelican/myna_scanpaths
examples/databases/Pelican/registered_timeseries
*.parquet

# `myna remote` artifacts
.myna/
myna_remote/
myna_remote_bundle/
myna_remote_bundle.zip

# other typical case file names
*configured.yaml
ic.yaml
log.*
*.log
logs/

# documentation
site/
docs/api-docs
