repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: check-merge-conflict
      - id: trailing-whitespace
      - id: end-of-file-fixer

  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.14.14
    hooks:
      # Run the linter.
      - id: ruff-check
      # Run the formatter.
      - id: ruff-format

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        # Ref abbrev, variable name, Mist mis-spelling
        # Passing config from toml does not work.
        args: ["-L", "mater,nd,coefficent,ot"]

  - repo: https://github.com/johann-petrak/licenseheaders
    rev: v0.8.8
    hooks:
      - id: licenseheaders
        name: licenseheaders (src)
        args: ["-t", "scripts/bsd-3.tmpl", "--dir", "src", "--ext", ".py"]


  - repo: https://github.com/johann-petrak/licenseheaders
    rev: v0.8.8
    hooks:
      - id: licenseheaders
        name: licenseheaders (tests)
        args: ["-t", "scripts/bsd-3.tmpl", "--dir", "tests", "--ext", ".py"]
