name: CI
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  schedule:
    - cron:  '1 6 * * *'

jobs:

  format:
    name: Format
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Myna
        uses: actions/checkout@v6
      - name: Ruff Linting Check
        uses: astral-sh/ruff-action@v3
      - name: Ruff Format Check
        uses: astral-sh/ruff-action@v3
        with:
          args: "format --check --diff"

  build-test:
    name: Build package, run core tests, and test build docs
    runs-on: ubuntu-latest
    timeout-minutes: 15
    needs: format
    strategy:
      matrix:
        python: ["3.10"]
    env:
      UV_PYTHON: ${{ matrix.python }}
    steps:
      - name: Checkout Myna
        uses: actions/checkout@v6
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.9.27"
          enable-cache: true
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python }}
      - name: Install the uv project
        run: |
          uv lock
          uv sync --locked --all-extras --dev
      - name: Run pytest (without examples)
        run: uv run --frozen --no-sync pytest
      - name: Analyzing code with pylint
        run: uv run --frozen --no-sync pylint $(git ls-files '*.py') --fail-under=7.25
      - name: Building API docs
        run: uv run --frozen --no-sync scripts/group_docs.py
      - name: Building documentation
        run: uv run --frozen --no-sync mkdocs build --strict

  test-examples:
    name: Test 3DThesis, AdditiveFOAM, and ExaCA examples
    runs-on: ubuntu-latest
    timeout-minutes: 15
    needs: build-test
    strategy:
      matrix:
        python: ["3.10"]
    env:
      UV_PYTHON: ${{ matrix.python }}
    container:
      image: ghcr.io/ornl-mdf/containers/ubuntu:dev
      options: --user root
    steps:
      - name: Add permissions to GitHub workspace
        run: |
          chmod -R 777 $GITHUB_WORKSPACE
      - name: Checkout Myna
        uses: actions/checkout@v6
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        id: setup-uv
        with:
          version: "0.9.27"
          enable-cache: true
          python-version: ${{ matrix.python }}
      - name: Install the uv project
        run: |
          uv lock
          uv sync --locked --all-extras --dev
      - name: Configure Git Safe Directory
        # Needed due to Myna's self-check if it is a git repo
        run: git config --global --add safe.directory $GITHUB_WORKSPACE
      - name: Check executables are working
        # Don't want to run examples if there are no valid executables
        # Need to point directly to uv path due to container updating PATH from .bashrc
        run: |
          . /root/.bashrc
          ${{ steps.setup-uv.outputs.uv-path }} run pytest -n 4 -vv -m "apps and not examples"
      - name: Check serial examples are working
        # Each example will only use 1 processor, GitHub runners have 4
        # https://docs.github.com/en/actions/using-github-hosted-runners/using-github-hosted-runners/about-github-hosted-runners
        run: |
          . /root/.bashrc
          ${{ steps.setup-uv.outputs.uv-path }} run pytest -n 4 -vv -m "examples and not parallel"
      - name: Check parallel examples are working
        # Each example will use 2 processors, GitHub runners have 4
        # https://docs.github.com/en/actions/using-github-hosted-runners/using-github-hosted-runners/about-github-hosted-runners
        run: |
          . /root/.bashrc
          ${{ steps.setup-uv.outputs.uv-path }} run pytest -n 2 -vv -m "examples and parallel"
